/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

nav #dropdown{
    
}

#mainNav {

}

#mainNav:hover{

}

#navbarContents {
    padding-top: 0px;
    padding-bottom: 10px;
}

#homeLi {
    display: flex;
    justify-content: center;
    align-items: center;
}

#productsLi {
    display: flex;
    justify-content: center;
    align-items: center;
}

#privacyLi {
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchLi {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    #homeLi {
        display: unset;
        justify-content: normal;
        align-items: normal;
    }
    #productsLi {
        display: unset;
        justify-content: normal;
        align-items: normal;
    }

    #privacyLi {
        display: unset;
        justify-content: normal;
        align-items: normal;
    }
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}
    /* Sticky footer styles
-------------------------------------------------- */

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: white;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/*For the cart*/
#cartButtons {
    padding-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cartPadding{
    
}

#cartBtns {
    z-index: 100;
    font-size: 16px;
    transition: transform 0.2s;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 0px;
}

#cartBtns:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}

.show-cart li {
    display: flex;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: white;
    z-index: 0;
}
/*Modal buttons*/
#clrCartBtns {
    font-size: 16px;
    transition: transform 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50px;
}

#modalClosebtn {
    font-size: 16px;
    transition: transform 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50px;
}

#modalOrderbtn {
    font-size: 16px;
    transition: transform 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50px;
    padding-right: 20px;
    padding-bottom: 9px;
}
/*animation for modal buttons*/
#clrCartBtns:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}

#modalClosebtn:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}

#modalOrderbtn:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}

